<h1>Listing auto_cats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auto_cats.each do |auto_cat| %>
  <tr>
    <td><%= auto_cat.name %></td>
    <td><%= auto_cat.parent %></td>
    <td><%= link_to 'Show', auto_cat %></td>
    <td><%= link_to 'Edit', edit_auto_cat_path(auto_cat) %></td>
    <td><%= link_to 'Destroy', auto_cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auto cat', new_auto_cat_path %>
